body {
    background: linear-gradient(180deg, #baecea 0%, #63b3ff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    overflow-x: hidden;
    text-align: center;

}
nav {
    margin: auto;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;

}
header {
    margin: auto;
    width: 100%;
    background-image: url(/img/PPE-filtered.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: solid white;
    border-bottom: solid white;
    box-shadow: 0px 0px 2px aqua;


}
footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
    font-size:70%;
    margin: auto;
    margin-top: 40%;
    width: 100%;
    padding: 0px;

}
div {
    align-content: center;
}
h1 {
    font-family: Proxima Nova,Open Sans,Corbel,Arial,sans-serif;
    color:white;
    text-shadow: 0px 0px 10px black;

}
p {
    font-family: Proxima Nova,Open Sans,Corbel,Arial,sans-serif;
    color:white;
    text-shadow: 0px 0px 3px black;

}
b {
    font-family: Proxima Nova,Open Sans,Corbel,Arial,sans-serif;
    color:white;
    text-shadow: 0px 0px 3px black;

}

@media only screen and (max-width:800) {

footer {
    flex-direction: column;
}

}
