body {
    background: linear-gradient(180deg, #003635 0%, #001931 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    overflow-x: hidden;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    color: rgb(210, 210, 210);
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
nav {
    background: linear-gradient(90deg, #2a2a2a 0% 94%, #303030 100%);
    height:100%;
    width:200px;
    
    position:fixed!important;
    z-index:1;
    font-weight: bolder;
    overflow:auto;
    box-shadow: 2px 2px 5px #000000;
}
main{
    float:right;
    width: calc(100% - 200px);
    font-weight: 700;
}
section {
    padding-left: calc(50% - 200px);
    padding-right: calc(50% - 200px);
    overflow:auto;
    text-align: justify;
}
a.logo {
    text-align: left;
    display: block;
    padding: 1px 0px 1px 25px;
}
a.sidebar{
    text-align: left;
    display: block;
    padding: 10px 0px 10px 25px; 
}
a.sidebar:hover {
    padding: auto;
    background: linear-gradient(90deg, #4a4a4a 0% 94%, #505050 100%);;
}
a:link {
    color: rgb(210, 210, 210);
    text-decoration: none;
}
a.main:link {
    color: rgb(210, 210, 210);
    text-decoration: underline;
}
a:visited{
    color: rgb(210, 210, 210);
    text-decoration: none;
}
div.sbottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 200px;
}

@media (max-width: 768px) {
    nav {
        display: none;
    }
}
